<header class="site-header">

  <div class="wrapper">

    <h1>
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/logo.png" alt="{{ site.title }}"></img>
      </a>
    </h1>

    <h4 class="site-tagline"><strong>BinaryAbacus.io</strong> is a data visualization blog devoted to telling stories in Asia with hard numbers and interactive charts.</h4>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
