/**
 * Site header
 */
.site-header {
    font-family: $title-font-family;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    padding: 25px 0;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    img {
        height: 50px;
    }
}

.site-tagline {
    font-size: $small-font-size;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-family: $title-font-family;
    font-size: $small-font-size * 0.8;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size * 0.8;
    color: $grey-color;
    margin-bottom: 0;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.post {
    &:not(:first-child) {
      padding-top: $spacing-unit;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $grey-color-light;
    }
}

.post-header {
    padding-bottom: $spacing-unit / 2;
}

.post-title {
    font-family: $title-font-family;
    font-weight: 500;
    font-size: 36px;
    line-height: 3.7rem;

    a {
      color: $text-color;
    }

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-tagline {
    font-family: $title-font-family;
    font-size: $small-font-size;
    font-weight: 500;
    line-height: 2.6rem;
    color: $grey-color;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.reference {
    margin: 0 -25px;
    @include media-query($on-laptop) {
        margin: 0;
    }
    padding: 15px 25px;
    background: lighten($grey-color-light, 3%);
    font-family: $title-font-family;
    font-size: $small-font-size* 0.8;

    p {
        margin-bottom: 5px;
    }

    ul {
        margin-bottom: 0;
    }
}

.vis-control {
    p {
        font-size: $small-font-size;
    }
    font-family: $title-font-family;
}

.vis {
    margin: 20px -400px;

    @include media-query(1600px) {
        margin: 20px -200px;
    }

    @include media-query(1280px) {
        margin: 20px 0;
    }

    iframe {
        min-height: 500px;
        @include media-query($on-palm) {
            min-height: 200px;
        }
        width: 100%;
        border: 1px solid $grey-color-light;
    }
}

.pagination {
    font-family: $title-font-family;
    font-size: $small-font-size;
}
